body{
	background: linear-gradient(135deg, #FF26F4, #D600CA);
	font-family: Verdana, Arial, Geneva, Arial Black;
}

header{
	background-color: #D600CA;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	text-align: center;
	padding: 5px;
	margin: 20px 10px 10px 10px;
}

#fetch{
	text-align: center;
}

button{
	background-color: #D600C0;
	border: black 2px solid;
	border-radius: 20px;
	box-shadow: 0px 0px 15px black;
	font-size: medium;
	margin-top: 30px;
	padding: 15px;
}

button:hover{
	opacity: 0.6;
	cursor: pointer;
}

table{
	background-color: #D600CA;
	border: black 2px solid;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	text-align: right;
}