body{
	background: linear-gradient(135deg, #FF26F4, #D600CA);
	font-family: Verdana, Arial, Geneva, Arial Black;
	margin: 0px;
}

header{
	background-color: #D600CA;
	border-radius: 10px;
	box-shadow: 0px 0px 20px black;
	text-align: center;
	padding: 5px;
	margin: 20px 10px 10px 10px;
}

#fetch{
	text-align: center;
}

button{
	background-color: #D600CA;
	border: black 2px solid;
	border-radius: 20px;
	box-shadow: 0px 0px 15px black;
	font-size: medium;
	margin-top: 30px;
	padding: 15px;
}

button:hover{
	opacity: 0.6;
	cursor: pointer;
}

#table{
	background-color: #D600CA;
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0px 0px 15px black;
	padding: 10px;
	margin-top: 30px;
}

#table tr:hover{
	background-color: #FF26F4;
}

#table th{
	height: 50px;
}

#table th,td{
	border-bottom: #FF26F4 2px solid;
	text-align: center;
}

#table td a{
	color: black;
	text-decoration: none;
}

#nav ul{
	background-color: #D600CA;
	text-align: center;
	padding: 5px;
	margin-top: 50px;
}

#nav ul li{
	display: inline;
}

#nav ul li a{
	color: black;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
}

#nav ul li a:hover{
	background-color: #FF26F4;
	color: black;
}

#about{
	margin: 20px 50px 0px 50px;
}