body{
	font-family: Verdana;
	padding-top: 80px;
}

.navbar{
	background-color: none;
}

.navbar-custom{
	background-color: #640075;
}

.navbar-toggler-icon{
	font-size: 0.8em;
}

.media{
	transition: background-color 0.3s;
}

.media:hover{
	background-color: #EEEEEE;
}

.media a{
	color: black;
	transition: opacity 0.4s;
}

.media a:hover{
	color: black;
	opacity: 0.6;
}

.footer-bg{
	background-color: #4e005b;
}

.logo{
	color: white;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.logo:hover{
	color: white;
	opacity: 1;
}

.on-page-anchor:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.contact{
	margin-top: -80px;
}